html,
body {
  height: 100%;
}

iframe {
  width: 100%;
  height: calc(100vh - 280px);
}

@media (max-width: 576px) {
  iframe {
    height: calc(100vh - 350px);
    margin-bottom: 50px;
  }
}

#green-spinner {
    position: absolute;
    text-align: center;
}