html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

iframe {
  width: 100%;
  height: 800px;
}
/*calc(100vh - 280px);*/

@media (max-width: 575px) {
  iframe {
    height: 500px;
  }
}

@keyframes date-text-glow {
  from {
    text-shadow: 0 0 3px #198754;
  }
  to {
    text-shadow: unset;
  }
}

.date-text {
  animation-duration: 1s;
}

.app-link-anim:hover {
  animation: app-shadow-hover-in 0.3s ease-out forwards;
}

.app-link-anim {
  animation: app-shadow-hover-out 0.3s ease-out forwards;
}

@keyframes app-shadow-hover-in {
  from {
    transform: translate(0px, 0px);
    filter: drop-shadow(0px 0px #a0a0a0);
  }
  to {
    transform: translate(-5px, -5px);
    filter: drop-shadow(5px 5px #a0a0a0);
  }
}

@keyframes app-shadow-hover-out {
  from {
    transform: translate(-5px, -5px);
    filter: drop-shadow(5px 5px #a0a0a0);
  }
  to {
    transform: translate(0px, 0px);
    filter: drop-shadow(0px 0px);
  }
}

.app-links-green {
  color: #198754;
  text-decoration: none;
}

.app-links-blue {
  color: #2858a6;
  text-decoration: none;
}

.app-links-red {
  color: #a62828;
  text-decoration: none;
}

.app-links-hover:hover {
  color: #a0a0a0;
}
