html,
body {
  height: 100%;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: calc(100vh - 280px);
}

@media (max-width: 576px) {
  iframe {
    height: calc(100vh - 400px);
  }
}

#green-spinner {
  position: absolute;
  text-align: center;
}

@keyframes date-text-glow {
  from {
    text-shadow: 0 0 3px #198754;
  }
  to {
    text-shadow: unset;
  }
}

.date-text {
  animation-duration: 1s;
}
