html,
body {
  height: 100%;
  overflow-x: hidden;
}

iframe {
  width: 100%;
  height: 800px;
}
/*calc(100vh - 280px);*/

@media (max-width: 575px) {
  iframe {
    height: 500px;
  }

  #navbar-brand-srq {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #stack-collapse {
    justify-content: center;
    scale: 0.8;
  }
}

@keyframes date-text-glow {
  from {
    text-shadow: 0 0 3px #198754;
  }
  to {
    text-shadow: unset;
  }
}

.date-text {
  animation-duration: 1s;
}
